/* FONTS */
@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-style: normal;
    font-weight: bold;
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed/RobotoCondensed-Bold.ttf') format('truetype');
}