/*      Colors       */
$Teal-Blue:         #2D728F;
$Blue-Munsell:      #3B8EA5;
$Raisin-Black:      #1E1E24;
$Max-Yellow-Red:    #FFBA49;
$Tart-Orange:       #EF5B5B;
$Timberwolf:        #D3D0CB;
$Bistre:            #251605;
$Dark-Lava:         #463730;