@import '_mixins.scss';

$form-min-width: 25rem;
$form-max-width: 35rem;
$border-radius: .25rem;
$border-color:  #6C757D;
$main-color:    #F8F9FA;
$main-bg-color: #343A40;

.login-bg {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url("../img/pexels-tranmautritam.jpg");

    background: {
        size: cover;
        position: center;
        repeat: no-repeat;
        color: rgba(25, 25, 25, 1);
    }
}

.main-base {
    color: $main-color;
    background: rgba($main-bg-color, .2);

    border: {
        width: 1px;
        style: solid;
        color: $border-color;
        radius: $border-radius;
    }

    @include ClampWidth($form-min-width, $form-max-width);

    .e-label, .e-float-text.e-label-top {
        color: $main-color !important;
    }

    a:not(.btn) {
        line-height: 25px;
    }

    hr {
        width: 100%;
        margin-top: 0;
    }

    h5 {
        font-size: 16px !important;
    }

    h1 {
        font-size: 28px !important;
        font-weight: bold !important;
    }
}

.login-main {
    @extend .main-base;
    backdrop-filter: blur(8px);
}

.login-main-mz {
    z-index: 26;
    @extend .main-base;
}

.login-main-mz-bg {
    padding: 0;
    z-index: 25;
    height: 100%;
    border-radius: $border-radius;
    filter: brightness(.7) blur(3px);
    background: rgba($main-bg-color, .75);
    @include ClampWidth($form-min-width, $form-max-width);
}